Repository fipguide/fipguide.github.io, pull requests merged in 2025-09, with the labels that each got.

#296 fix: Show highlight for H4 elements and improve scrollport detection
  assets/js/highlightHeadline.js
  layouts/country/single.html
  layouts/news/single.html
  layouts/operator/single.html
Labels: technical

#280 feat: add portugal & cp
  archetypes/booking/index.de.md
  archetypes/booking/index.en.md
  archetypes/booking/index.fr.md
  archetypes/country/index.de.md
  archetypes/country/index.en.md
  archetypes/country/index.fr.md
  archetypes/operator/index.de.md
  archetypes/operator/index.en.md
  archetypes/operator/index.fr.md
  content/booking/cp-ticket-office/index.de.md
  content/booking/cp-ticket-office/index.en.md
  content/booking/cp-ticket-office/index.fr.md
  content/country/portugal/image.webp
  content/country/portugal/index.de.md
  content/country/portugal/index.en.md
  content/country/portugal/index.fr.md
  content/operator/cp/image.webp
  content/operator/cp/index.de.md
  content/operator/cp/index.en.md
  content/operator/cp/index.fr.md
Labels: content, country::portugal, operator::cp

#268 feat: add cd operator
  content/booking/cd-ticket-office/index.de.md
  content/booking/cd-ticket-office/index.en.md
  content/booking/cd-ticket-office/index.fr.md
  content/booking/cd-website/cd_reservation.en.webp
  content/booking/cd-website/index.de.md
  content/booking/cd-website/index.en.md
  content/booking/cd-website/index.fr.md
  content/country/czechia/image.en.webp
  content/country/czechia/index.de.md
  content/country/czechia/index.en.md
  content/country/czechia/index.fr.md
  content/operator/cd/image.en.webp
  content/operator/cd/index.de.md
  content/operator/cd/index.en.md
  content/operator/cd/index.fr.md
  content/operator/cp/index.de.md
  content/operator/cp/index.en.md
  content/operator/cp/index.fr.md
  content/operator/oebb/index.de.md
  static/map_europe.svg
Labels: content, operator::cd, county::czechia

#337 fix: update Eurostar booking information
  content/booking/eurostar-ticket-office/index.de.md
  content/booking/eurostar-ticket-office/index.en.md
  content/booking/eurostar-ticket-office/index.fr.md
  content/operator/eurostar/index.de.md
  content/operator/eurostar/index.en.md
  content/operator/eurostar/index.fr.md
Labels: content
